<h1>
  Here are the stats on the comment chosen:
</h1>
<h2>
  Name: {{this.title}}
</h2>

<h2>
  Rating: {{this.comment}}
</h2>

<h2>
  Created by: {{this.author.username}}
</h2>






<form action="/comments/{{_id}}/delete" method="POST">
  <button>Delete This Review</button>
</form>