<h1>
  Here are the stats on the comment chosen:
</h1>

<h2>
  Game: {{this.review.game}}
</h2>

<h2>
  Title: {{this.title}}
</h2>
<div class="spacer">
<h2>
  Comment: {{this.comment}}
</h2>

<form action="/comments/{{_id}}/delete" method="POST">
  <button>Delete This Comment</button>
</form>



</div>