<div>

<h1>{{title}}</h1>
<p>Welcome to Iron GameReview! The world's leading game review website.</p>
<br><br><br>
<p>Site info</p>

<a href="/games"> <button>Get a sneak peak of a random game!</button></a>

<a href="/reviews"> <button>Check out our reviews!</button></a>

</div>