<div>

<h1>{{title}}</h1>
<p>Welcome to Iron GameReview! The world's leading game review website.</p>

<a href="/games"> <button>See The Games</button></a>

<a href="/reviews"> <button>Check out our reviews!</button></a>

</div>