<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
  <nav>
    <div class="nav-logo">
      <a href="/">
        <img src="/images/logo-ironhack-blue.png" alt="IronGR Logo">
      </a>
    </div>
    <div class = "nav-links">
    {{#if theUser}}
      <a class = "secret" href="/secretpage">.</a>
      <a href="/">Home</a>
      <a href="/">Games</a>
      <a href="/reviews">Reviews</a>
      <a href="/profile">My Account</a>
      <a href="/">About Us</a>
      <a href="/logout">Log Out</a>
    {{else}}
      <a href="/signup">Signup</a> <span>or</span>  
      <a href="/login">Log In</a>
      &nbsp; &nbsp; &nbsp;
      <a href="/">About Us</a>
    {{/if}}
    </div>
  </nav>
  <div class= "mainPage">

  {{{body}}}

  </div>

  

  <script src="/javascripts/script.js"></script>
</body>
</html>