<h1>Bwhahaha you made it!</h1>

<div>
<h4>Here are some of my favorite games to play:</h4>

<ul>
<li>Final Fantasy</li>
<li>Metal Gear Solid</li>
<li>Fortnite</li>
<li>Madden</li>
<li>FIFA</li>
<li>CoD</li>
</ul>

<h6>Add me on PSN: focker174</h6>

</div>

<div class="spacer"></div>