body {
  padding: 0;
  margin: 0;
  font: 1em  "Helvetica", Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw;
  border-bottom: 5px solid black;
}

nav img {
  width: 2.5vw;
  height: 6vh;
}

nav a {
  color: #00B7FF;
  justify-content: flex-end;
}

.nav-logo{
  justify-content: flex-start;
}

.nav-links{
  padding: 0 4vw;
}

.mainPage {
  padding: 1vw;
}

.secret {
  color: white;
}