body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 1vw;
}

nav a {
  color: #00B7FF;
  justify-content: flex-end;
}

.nav-logo{
  justify-content: flex-start;
}