<h1>Add a new Review below</h1>

<form action="/review/create" method="POST">

  <label for="">Game:</label>
  <input type="text" name="game" required>

  <label for="">Rating:</label>
  <input type="number" name="rating" min="0" max ="10" required>

  <label for="">Author:</label>
  <input type="text" name="username" value="{{theUser.username}}">

  <button type="submit">ADD</button>


</form>