<h1>Add a new Review below</h1>

<form action="/review/create" method="POST">

  <label for="">Game:</label>
  <input type="text" name="game" required>

  <label for="">Game Cover:</label>
  <input type="text" name="gameCover">

  <label for="">Rating:</label>
  <input type="number" name="rating" min="0" max ="10" required>

  <label for="">Review:</label>
  <textarea rows="4" cols = '40' name="review" required></textarea>

  <button type="submit">ADD</button>


</form>