<h1>Add a new Review below</h1>

<form action="/review/create" method="POST">

  <label for="">Game:</label>
  <input type="text" name="game">

  <label for="">Rating:</label>
  <input type="text" name="rating">

  <label for="">Author:</label>
  <input type="text" name="username">

  <button type="submit">ADD</button>


</form>