<h1>Our curated user reviews can be found below:</h1>

{{#each reviews}}
<div>

<a href="reviews/{{this._id}}">{{this.game}}: {{this.rating}}</a>

</div>

{{/each}}
<br>
<br>
{{#if theUser}}
<p>Is there a game you would like to review?</p>
  <a href="reviews/new">Add a new review!</a>
{{else}}
<p>Is there a game you would like to review?</p>
    <a href="../signup">Signup</a><span> or</span>
  <a href="../login">Log in</a><span> to review a game now!</span>
{{/if}}
