<h1>hi</h1>

{{#each reviews}}
<div>

<a href="reviews/{{this._id}}">{{this.game}}: {{this.rating}}</a>

</div>

{{/each}}
<br>
<br>

{{#if theUser}}
  <a href="reviews/new">Add a new review!</a>
{{else}}
    <a href="/signup">Signup to review a game</a> <span>or</span>  
    <a href="/login">Log In to review now!</a>
{{/if}}
