<h1>Our curated user reviews can be found below:</h1>

{{#each reviews}}
<div>

<a href="reviews/{{this._id}}">{{this.game}}: {{this.rating}}</a>

</div>

{{/each}}
<br>
<br>
{{#if theUser}}
<p>Is there a game you would like to review?</p>
  <a href="reviews/new">Add a new review!</a>
{{else}}
<p>Is there a game you would like to review?</p>
    <a href="/signup">Signup to review a game</a> <span>or</span>  
    <a href="/login">Log In now to review!</a>
{{/if}}
