<h1>Login</h1>



<div class ="formSpacer">
  
<form  action="/login" method="POST">

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Your username">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your Password">


  <button>Sign in</button>

</form>
</div>

<h4>Don't have an account? <a href="/signup">Signup</a></h4>

<div class="spacer">

</div>