<h1>Signup</h1>


<div class ="formSpacer">
<form action="/signup" method="POST">

<label>Username</label>
<input type="text" name="username" placeholder="ex. gamerjesus" required>


<label>Password</label>
<input type="password" name="password" placeholder="Create a Password" required>


<button>Submit</button>
</div>

<h4>Already have an account? <a href="/login">Login</a></h4>

</form>

<div class="spacer">

</div>